ul.optionList{
	list-style: none;
	width: 375px;
	height: 350px;
	margin: 0;
	padding: 0;
	border-radius: 18px;
}

ul.optionList li{
	position: relative;
	left: 0;
	top: 0;
	// box-shadow: 0 0 100px 30px rgba(#a071fd, 0.08);
	height: 72px;
	line-height: 72px;

	margin: 0;
	background: white;
	color: #3d2f59;
	overflow: hidden;
	cursor: pointer;
	
	transition: background 0.12s ease-in, color 0.12s ease-in, border-radius 0.12s ease-in;

	.caption{
		position: relative;
		padding-left: 57px;
		z-index: 50;
	}

	.activeBackground{
		pointer-events: none;
		position: absolute;
		z-index: 100;
		left: 50%;
		top: 50%;
		opacity: 0;
		z-index: 1;

		display: block;
		background: #442977;
		width: 500px;
		height: 500px;
		clip-path: circle(50%);
		transform: translateX(-50%) translateY(-50%);
	}


	&:hover {
		background: #a071fd;
		color: white;
	}

	&:first-child {
		border-top-left-radius: 18px;
		border-top-right-radius: 18px;
	}

	&:last-child {
		border-bottom-left-radius: 18px;
		border-bottom-right-radius: 18px;
	}


}