html, body{
  height: 100%;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eef0f5;
}